@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body,
h1,
h2 {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

/*HEADER*/
.header-main .container {
  position: relative;
  width: 1040px;
  margin-top: 40px;
  padding-top: 20px;

  padding-left: 60px;
  padding-right: 60px;

  color: black;
  background-color: #ffe27f;
}

.header-main .container::after {
  content: "";
  position: absolute;
  top: 230px;
  left: 600px;
  width: 100px;
  height: 7px;

  background: white;
}


.logo-name {
  display: block;
  position: relative;
  margin-top: -42px;
  margin-bottom: 22px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.logo-name:hover {
  color: #444444;
}

.logo-name:active {
  color: #666666;
}

.nav-tools {
  margin-bottom: 35px;
}

.search-tools {
  float: left;
  max-width: 450px;
}

.user-login {
  float: left;
  margin-left: 130px;
  max-width: 280px;
  text-align: left;
}

.login-ico {
  position: relative;
}

.login-ico::after {
  content: "";
  position:absolute;

  width: 18px;
  height: 18px;
  top: 0px;
  left: -30px;
  background: url(../img/sprite.png) no-repeat -2px -95px;
}

.compare-ico {
  position: relative;
}

.compare-ico::after {
  content: "";
  position:absolute;

  width: 18px;
  height: 18px;
  top: 0px;
  left: 35px;
  background: url(../img/sprite.png) no-repeat -2px -22px;
}

.basket-ico {
  position: relative;
}

.basket-ico::after {
  content: "";
  position:absolute;

  width: 18px;
  height: 18px;
  top: 0px;
  left: 35px;
  background: url(../img/sprite.png) no-repeat -2px -2px;
}

.user-tools {
  float: right;
  max-width: 300px;
  text-align: right;
}

.user-tools a {
  padding-left: 65px;
}

.search-tools form {
  width: 440px;
}

.search-tools .search-field {
  position: relative;
  width: 354px;
  margin-right: -3px;
  padding: 12px 20px;
  padding-left: 40px;
  border: none;
  border: 2px solid transparent;
  background: #ffe27f url(../img/ico-search.png) no-repeat 0px 50% ;
  color: black;
}

.search-tools .search-field::-webkit-input-placeholder {
  opacity: 0.3;
}

.search-tools .search-field::-moz-placeholder {
  opacity: 0.3;
}

.search-tools .search-field:-ms-input-placeholder {
  opacity: 0.3;
}

.search-tools  .search-field:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.search-tools  .search-field:hover::-moz-placeholder {
  opacity: 0.6;
}

.search-tools  .search-field:hover:-ms-input-placeholder {
  opacity: 0.6;
}

.search-tools .search-field:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.search-tools .search-button {
  display: none;
  width: 85px;
  padding: 12px 20px;
  border: 2px solid #000;
  background-color: #ffe27f;
  cursor: pointer;
}

.search-tools .search-button:hover {
  color: white;
  background-color: black;
}

.search-tools .search-button:active {
  color: #6a6a6a;
  background-color: black;
}

.search-tools .search-field:focus ~ .search-button {
  display: inline-block;
}

.nav-tools {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
}

.nav-tools a {
  color: black;
  text-decoration: none;
}

.nav-tools a:hover {
  opacity: 0.6;
}

.nav-tools a:active {
  opacity: 0.3;
}

.site-nav a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.services-nav {
  position: relative;
  display: inline;
}

.services-nav li {
  margin-left: 38px;
}

.services-nav li:first-of-type {
  margin-left: 310px;
}

.services-nav li:last-of-type {
  margin-left: 85px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.catalog-submenu li,
.services-nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.catalog-submenu {
  display: none;
}

.catalog-ico {
  position: relative;
}

.catalog-ico::after {
  content: "";
  position:absolute;

  width: 18px;
  height: 18px;
  top: 2px;
  right: -30px;
  background: url(../img/sprite.png) no-repeat -6px -47px;
}

/*MAIN SLIDER*/
.main {

}

.slider {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 160px;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 160px;
  z-index: -1;

  background-color: #ffe27f;
}

.slide-image {
  float: left;
  width: 500px;
  margin-top: -110px;
  text-align: center;
}

.slide-description {
  margin-top: -32px;
  float: right;
  width: 500px;
}

.slide:nth-child(3) .slide-image {
 margin-top: -45px;
}

.slide:nth-child(1),
.slide:nth-child(2) {
  display: none;
}

.slider-number {
  position: absolute;
  top: -145px;
  left: 930px;
  font-size: 180px;
  line-height: 180px;
  color: white;
  z-index: -1;
}

.slider-title {
  margin-bottom: 34px;
  font-size: 47px;
  line-height: 47px;
}

.slider-text {
  margin-bottom: 44px;
  width: 480px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.btn {
  display: inline-block;
  padding: 11px 43px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: black;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0px, #ffffff 16px, #ffc600 16px, #ffc600 24px, #ffffff 24px, #ffffff 40px);
  background: -webkit-linear-gradient(top,  #ffffff 0px,#ffffff 16px, #ffc600 16px,#ffc600 24px, #ffffff 24px, #ffffff 40px);
  background: linear-gradient(to bottom,  #ffffff 0px,#ffffff 16px, #ffc600 16px,#ffc600 24px, #ffffff 24px, #ffffff 40px);
}

.btn:hover {
  background: #ffc600;
}

.btn:active {
  color: #ca9d00;
}

.slide .btn {
  margin-bottom: 73px;
}

.slider-spec table {

}

.slider-spec th,
.slider-spec td {
  width: 33%;
  padding-right: 80px;
  text-align: left;
  vertical-align: baseline;
  text-size-adjust: none;
  white-space: nowrap;
}

.slider-spec th {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}

.slider-spec td {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

/*POPULAR*/
.popular ul{
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: justify;
}

.popular ul::after {
  display: inline-block;
  content: "";
  width: 100%;
}

.popular li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

/*SERVICES*/
.service-buttons {
  float: left;
  width: 280px;
}

.service-buttons button {
  display: block;
}

.services-description {
  float: right;
  width: 880px;
}

/*INFORMATION*/
.about {
  float: left;
  width: 580px;
}

.contact {
  float: right;
  width: 580px;
}

/*FOOTER*/
.footer-main {
  width: 1200px;
  margin: 0 auto;
}

.footer-left {
  float: left;
  width: 280px;
}

.footer-center {
  float: left;
  width: 440px;
}

.footer-right {
  float: right;
  width: 360px;
}

/*CATALOG PAGE*/
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.left-side {
  float: left;
  width: 280px;
}

.right-side {
  float: right;
  width: 780px;
}

.right-side div {
  display: inline-block;
}

.main-filter {
  float: left;
  width: 280px;
}

.catalog-items {
  float: right;
  width: 780px;
}

.catalog-item:nth-child(odd) {
  float: left;
  width: 360px;
  margin-right: 20px;
}

.catalog-item:nth-child(even) {
  float: right;
  width: 360px;
}

.pages-number ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}

.pages-number li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
