body,
h1,
h2 {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/*HEADER*/
.site-nav ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.nav-tools div,
.catalog-submenu li,
.services-nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

/*MAIN SLIDER*/
.slide-image {
  float: left;
  width: 560px;
}

.slide-description {
  float: right;
  width: 560px;
}

/*POPULAR*/
.popular ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}

.popular li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

/*SERVICES*/
.service-buttons {
  float: left;
  width: 280px;
}

.service-buttons button {
  display: block;
}

.services-description {
  float: right;
  width: 880px;
}

/*INFORMATION*/
.about {
  float: left;
  width: 580px;
}

.contact {
  float: right;
  width: 580px;
}

/*FOOTER*/
.footer-main {
  width: 1200px;
  margin: 0 auto;
}

.footer-left {
  float: left;
  width: 280px;
}

.footer-center {
  float: left;
  width: 440px;
}

.footer-right {
  float: right;
  width: 360px;
}

/*CATALOG PAGE*/
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.left-side {
  float: left;
  width: 280px;
}

.right-side {
  float: right;
  width: 780px;
}

.right-side div {
  display: inline-block;
}

.main-filter {
  float: left;
  width: 280px;
}

.catalog-items {
  float: right;
  width: 780px;
}

.catalog-item:nth-child(odd) {
  float: left;
  width: 360px;
  margin-right: 20px;
}

.catalog-item:nth-child(even) {
  float: right;
  width: 360px;
}

.pages-number ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}

.pages-number li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
